.site-background {
    background-image: url('https://images.unsplash.com/photo-1583183398510-07243101a1fa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
  }

h1{
    color:black;
    font-family: 'Spectral', serif;
}
p {
  font-family: 'Spectral', serif;
  font-size: 150%;
}

img {
    border-radius:8px;
    width: 100%;
    height: auto;
    padding-top: 20px;
  }
.image2{
  padding-bottom:30px
}

  h3{
      padding-top:10px
  }